*{
    box-sizing: content-box;
}
body{
    background-color: #ffffff;
    background-image: radial-gradient( lightblue, cyan)
}
#caja-plazo-fijo{
    background-color: #ffffff;
    margin: 1em;
    border-radius: 10px;
}
div.center{
    text-align: center;
}
div.header{
    text-align: center;
    border: solid 1px lightseagreen;
    background-color: rgb(181 230 243);
    margin: 1em;
    border-radius: 6px;

}
#caja-plazo-fijo{
    border: solid 2px rgb(19, 118, 143);
}
#cotizar-plazo-fijo{
    margin-top: .5em;
}
.correcto {
    background-color: rgb(211, 249, 187);
    border: 1px solid rgb(50, 167, 0);
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    color: rgb(4, 150, 50);
}
.error {
    background-color: #FBE9E7;
    border: 1px solid #F4511E;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    color: #F4511E;
}
h2.headerPlazo{
    margin-top: 1em;
    background-color:#26C6DA;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    text-align: center;
}
.resultado-parrafo{
    font-family: monospace;
    text-align: center;
    padding: 0  0 20px 0;
    font-weight: bold;
}
.center > button {
    margin: 1em
}